<script lang="ts">
import {defineComponent, ref} from "vue";
import {autowire} from "../../Autowire.ts";
import {ACCOUNT_REPOSITORY} from "../BankAccountKeys.ts";
import {ResponseInfo} from "../domain/ResponseInfo.ts";
import ResponseVue from "./ResponseVue.vue";
import {CURRENCIES, Currency} from "../domain/Currency.ts";

export default defineComponent({
  components: {ResponseVue},
  setup() {
    const accountRepository = autowire(ACCOUNT_REPOSITORY);
    const possibleId = ref('');
    const possibleCurrency = ref<Currency>();

    const response = ref<ResponseInfo>();

    const balance = () => accountRepository.balance(possibleId.value, possibleCurrency.value).then(resp => response.value = resp);

    return {
      balance,
      possibleId,
      response,
      CURRENCIES,
      possibleCurrency,
    }
  }
})

</script>

<template lang="pug">
h2 Get an account's balance

label Id:
  input(v-model="possibleId")
label Currency:
  select(v-model="possibleCurrency")
    option(:value="undefined") Default
    option(v-for="currency in CURRENCIES" :key="currency" ) {{ currency }}

button(@click="balance") Balance

ResponseVue(v-if="response" :response="response" )
</template>