<script lang="ts">
import List from "./List.vue";
import Create from "./Create.vue";
import Balance from "./Balance.vue";
import {defineComponent} from "vue";
import Deposit from "./Deposit.vue";
import Withdraw from "./Withdraw.vue";

export default defineComponent({
  components: {
    Withdraw,
    Deposit,
    List,
    Create,
    Balance,
  }
})
</script>

<template lang="pug">
List
Create
Balance
Deposit
Withdraw
</template>
