<script lang="ts">
import {defineComponent, ref, watch} from "vue";
import {autowire} from "../../Autowire.ts";
import {ACCOUNT_REPOSITORY} from "../BankAccountKeys.ts";
import {Owner} from "../domain/Owner.ts";
import { ResponseInfo } from "../domain/ResponseInfo";
import ResponseVue from "./ResponseVue.vue";

export default defineComponent({
  components: {ResponseVue},
  setup() {
    const accountRepository = autowire(ACCOUNT_REPOSITORY);
    const eitherOwner = ref(Owner.of(''));
    const message = ref('');
    const possibleOwner = ref('');
    const response = ref<ResponseInfo>();

    watch(possibleOwner, (name) => eitherOwner.value = Owner.of(name));

    const create = () => eitherOwner.value.evaluate(
        () => message.value = 'Owner should not be empty',
        (owner) => accountRepository.create(owner).then((resp) => {
           possibleOwner.value = '';
           response.value = resp;
           message.value = ``;
        }).catch(() => message.value = 'A network error occurs')
    );

    return {
      create,
      message,
      possibleOwner,
      response,
    }
  }
})

</script>

<template lang="pug">
h2 Create a new account

label Name:
  input(v-model="possibleOwner")
button(@click="create") Create

p(v-if='message') {{ message }}

ResponseVue(v-if="response" :response="response" )
</template>