<script lang="ts">
import {defineComponent, ref} from "vue";
import {autowire} from "../../Autowire.ts";
import {ACCOUNT_REPOSITORY} from "../BankAccountKeys.ts";
import {Amount} from "../domain/Amount.ts";
import { ResponseInfo } from "../domain/ResponseInfo";
import ResponseVue from "./ResponseVue.vue";

export default defineComponent({
  components: {ResponseVue},
  setup() {
    const accountRepository = autowire(ACCOUNT_REPOSITORY);
    const possibleAmount = ref(0);
    const possibleId = ref('');
    const message = ref('');
    const response = ref<ResponseInfo>();

    const deposit = () => accountRepository.deposit(possibleId.value, Amount.of(possibleAmount.value))
        .then((resp) => {
          message.value = `On account ${possibleId.value}: deposit ${possibleAmount.value}`;
          response.value = resp;
        })
        .catch(() => message.value = 'A network error happen')

    return {
      deposit,
      possibleAmount,
      message,
      possibleId,
      response
    }
  },
})
</script>

<template lang="pug">
h2 Deposit money into an account

label Id:
  input(v-model="possibleId")
label Amount:
  input(v-model.number="possibleAmount")
button(@click="deposit") Deposit

p(v-if="message") {{message}}

ResponseVue(v-if="response" :response="response")
</template>