<script lang="ts">
import {defineComponent, ref} from "vue";
import {autowire} from "../../Autowire.ts";
import {ACCOUNT_REPOSITORY} from "../BankAccountKeys.ts";
import {ResponseInfo} from "../domain/ResponseInfo.ts";
import ResponseVue from "./ResponseVue.vue";

export default defineComponent({
  components: {ResponseVue},
  setup() {
    const accountRepository = autowire(ACCOUNT_REPOSITORY);

    const response = ref<ResponseInfo>();

    const list = () => accountRepository.list().then(resp => response.value = resp);

    return {
      list,
      response,
    }
  }
})

</script>

<template lang="pug">
h2 List accounts

button(@click="list") List

ResponseVue(v-if="response" :response="response" )
</template>