<script lang="ts">
import {defineComponent, PropType} from "vue";
import {ResponseInfo} from "../domain/ResponseInfo.ts";

export default defineComponent({
  props: {
    response: Object as PropType<ResponseInfo>,
  },
});
</script>

<template lang="pug">
p status: {{response.status}}
pre(v-if="response.body")
  code {{response.body}}
p(v-else) No JSON body available.
</template>
<script setup lang="ts">
</script>