<script lang="ts">
import {defineComponent, ref} from "vue";
import {autowire} from "../../Autowire.ts";
import {ACCOUNT_REPOSITORY} from "../BankAccountKeys.ts";
import {Amount} from "../domain/Amount.ts";
import {ResponseInfo} from "../domain/ResponseInfo";
import ResponseVue from "./ResponseVue.vue";

export default defineComponent({
  components: {ResponseVue},
  setup() {
    const accountRepository = autowire(ACCOUNT_REPOSITORY);
    const possibleAmount = ref(0);
    const possibleId = ref('');
    const message = ref('');
    const response = ref<ResponseInfo>();

    const withdraw = () => accountRepository.withdraw(possibleId.value, Amount.of(possibleAmount.value))
        .then((resp) => {
          message.value = `On account ${possibleId.value}: withdraw ${possibleAmount.value}`;
          response.value = resp;
        })
        .catch(() => message.value = 'A network error happen')

    return {
      withdraw,
      possibleAmount,
      message,
      possibleId,
      response
    }
  },
})
</script>

<template lang="pug">
  h2 Withdraw money from an account

  label Id:
    input(v-model="possibleId")
  label Amount:
    input(v-model.number="possibleAmount")
  button(@click="withdraw") Withdraw

  p(v-if="message") {{message}}
  ResponseVue(v-if="response" :response="response")
</template>